/* Basis */
body {
  background: rgb(255, 233, 233);
}
header {
  background: grey;
  padding: 15px;
}
.content {
  background: rgb(255, 233, 233);
}
footer {
  background: aquamarine;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
h1 {
  margin: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Content */
.content {
  position: relative;
}
/* Box */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.item {
  height: 400px;
  width: 200px;
  background: orange;
  padding: 15px;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
/* Footer */

/* CORE */
.btn {
  border-radius: 5px;
  box-shadow: 5px 5px #000;
  padding: 15px;
  margin: 5px;
  background: #fff;
  text-decoration: none;
}
