.QnQnDA {
  display: none !important;
}
/* .btn-special {
  position: absolute;
  top: 72%;
  background: red;
  color: black;
  font-size: 30px;
  padding: 23px 75px;
  z-index: 9999;
  right: 38%;
} */
